<ul class="menu">
  <li>
    <a href="{% url 'main' %}">
      на сайт
    </a>
  </li>
  <li>
    <a href="{% url 'admin:users' %}"
       class="{% if request.resolver_match.url_name == 'users' %}
                active
              {% endif %}">
      пользователи
    </a>
  </li>
  <li>
    <a href="{% url 'admin:categories' %}"
       class="{% if request.resolver_match.url_name == 'categories' or category.name %}
                active
              {% endif %}">
      категории
      {% if category %}
        :<span>{{ category.name }}</span>
      {% endif %}
    </a>
  </li>
  <li>
    <a href="{% url 'admin:params' %}"
       class="{% if request.resolver_match.url_name == 'params' or params.name %}
                active
              {% endif %}">
      параметры товаров
      {% if params %}
        :<span>{{ params.name }}</span>
      {% endif %}
    </a>
  </li>
  <li>
    <a href="{% url 'admin:products' 1 %}"
       class="{% if request.resolver_match.url_name == 'products' or products.name %}
                active
              {% endif %}">
      товары
      {% if products %}
        :<span>{{ products.name }}</span>
      {% endif %}
    </a>
  </li>
</ul>
