<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>Магазин</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
</head>
<body>
	<div class="container">
		<div class="slider">
			<div class="header clearfix">
<!--				{% include 'mainapp/inc_menu.html' %}-->
				<a href="/" class="logo"></a>
				{% include 'mainapp/includes/inc_menu.html' %}
				<!--<ul class="menu">
					<li><a href="/" class="active">домой</a></li>
					<li><a href="{% url 'products:index' %}">продукты</a></li>
					<li><a href="{% url 'contacts' %}">контакты</a></li>
				</ul>
				<a href="#" class="search"></a>-->
			</div>
			<div class="text-slider">
				<h3 class="green">тенденции</h3>
				<h3 class="big"> удобные стулья</h3>
				<p>Новый уровень комфорта. Отличные характеристики.</p>
				<a href="#" class="button-order">заказать <img src="{% static 'img/arrow.png' %}" alt=""></a>
			</div>	
			<div class="navi">
				<a href="#"></a><a href="#"></a><a href="#"></a>
			</div>
		</div>

		<div class="featured">
			<div class="featured-menu">
				<a class="active" href="#">Популярные</a><a href="#">Новинки</a>
			</div>
			<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
			<div class="clearfix">
			</div>
			<div class="tab-content">
				{% for product in products %}
				  <div class="block">
					<a href="{% url 'products:product' product.id %}">
					  <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
					  <div class="text">
						<h3>{{ product.category.name }}</h3>
						<h4>{{ product.name }}</h4>
						<p>{{ product.description }}</p>
					  </div>
					</a>
				  </div>
				{% endfor %}

			</div>
		</div>
		
		<div class="clr"></div>

	</div>

	{% include 'mainapp/includes/inc_footer.html' %}
</body>
</html>